.env
.venv
primeira-parte-da-aula
.claude
teste_mongo.py
testep_ncp.py
DIARIO_TECNICO.md
__pycache__/
*.pyc
*.pyo
data.json
.notebook/
.DS_Store
.agents
skills-lock.json
.mcp.json
CLAUDE.md
output_data/